* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

h1 {
  margin: 0;
  text-align: center;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  margin-bottom: 100px; /* Height of the footer + some spacing */
}

h2 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.login-container {
  background-color: #333;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.005rem;
  margin-top: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: white;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#login-btn {
  padding: 0.7rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 6px;
  border: none;
}

#login-btn:hover {
  background-color: rgba(245, 245, 245, 0.76);
  color: black;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
